html {
	font-family: 'Inter', sans-serif;
	font-feature-settings: "cv05";
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	background-color: var(--accent-100) !important;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.browser-not-supported {
	color: var(--red-main);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 50px;
}

@keyframes fade-out-top {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}

@keyframes fade-in-top {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-out-bottom {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes fade-in-bottom {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-in-right {
	from {
		transform: translateX(120%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slide-out-left {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-120%);
	}
}

.illustration-active {
	display: flex;
	animation: slide-in-right 0.7s ease-in-out;
}

.illustration-inactive {
	display: flex;
	animation: slide-out-left 1s ease-in-out;
}