.browser-not-supported {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	color: red;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 50px;
}

.appLogo {
	width: 150px;
	height: auto;
}

.appLogoMini {
	width: 80px;
	height: auto;
}

.appLogoExtraMini {
	width: 40px;
	height: auto;
}

.appLogoStartup {
	height: 60px;
	width: auto;
}

.app-splash-screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.meetingPart {
	max-width: 550px;
	min-width: 320px;
	border-radius: 10px;
	padding: 0 10px;
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
}

.tgwPart {
	background-color: #656164;
}

.ayfPart {
	background-color: #a56803;
}

.settingHeader {
	padding: 5px;
	line-height: 1.2 !important;
	font-weight: bold !important;
}

.settingSubItem {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btnSubItem {
	margin-right: 5px !important;
	margin-bottom: 5px !important;
}

.ulSchedule {
	margin: 0;
	padding-inline-start: 20px;
	list-style: none;
}

.ulSchedule li {
	display: flex;
}

.ulSchedule li::before {
	content: '\2022'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	font-size: 26px;
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 15px; /* Also needed for space (tweak if needed) */
	margin-left: -20px; /* Also needed for space (tweak if needed) */
}

.ulSchedule li.tgw::before {
	color: #656164; /* Change the color */
}

.ulSchedule li.ayf::before {
	color: #a56803;
}

.student-part-duration {
	margin: 6px;
	font-size: 11px;
}

.imgHelp {
	max-width: 98%;
	height: auto;
}

.qrcode {
	width: 200px;
	height: auto;
}
