@font-face {
  font-family: NotoSansHebrew;
  src: url('assets/fonts/NotoSansHebrew-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NotoSansHebrew;
  src: url('assets/fonts/NotoSansHebrew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NotoSansHebrew;
  src: url('assets/fonts/NotoSansHebrew-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}