name: CodeQL

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: '0 12 * * 4'

permissions:
  contents: read

jobs:
  codeql:
    name: Code QL
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - name: Checkout repository for code analysis
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Initialize CodeQL
        uses: github/codeql-action/init@cdefb33c0f6224e58673d9004f47f7cb3e328b89
        with:
          languages: javascript
          queries: security-extended

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@cdefb33c0f6224e58673d9004f47f7cb3e328b89
