name: LMM-OA Code Analysis

on:
  push:
    branches: [ main, beta, alpha ]
  pull_request:
    branches: [ main, beta, alpha ]
    
jobs:
  analyze:
    name: Code QL
    if: ${{ github.repository == 'sws2apps/lmm-oa-sws' && github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript' ]

    steps:
    - name: Checkout repository for code analysis
      uses: actions/checkout@v2

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
