name: Test environment deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions: read-all

jobs:
  app_deploy:
    name: Build and deploy application
    if: ${{ github.repository == 'sws2apps/organized-app' && github.ref == 'refs/heads/main' }}
    environment:
      name: Test
      url: https://test.organized-app.com
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Use Node.js LTS version
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with:
          node-version: lts/Iron

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Deploy project to Vercel
        run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}
