name: NodeJSScan

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 12 * * 4'

permissions: read-all

jobs:
  nodejsscan:
    name: NodeJS Scan
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout the code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938

      - name: nodejsscan scan
        id: njsscan
        uses: ajinabraham/njsscan-action@d58d8b2f26322cd35a9efb8003baac517f226d81
        with:
          args: '. --sarif --output results.sarif || true'

      - name: Upload njsscan report
        uses: github/codeql-action/upload-sarif@6db8d6351fd0be61f9ed8ebd12ccd35dcec51fea
        with:
          sarif_file: results.sarif
