name: Lint Check

on:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  cypress-run:
    name: Test application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for testing
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: lts/Krypton

      - name: Install Dependencies
        run: npm ci

      - name: Check lint
        run: npm run lint
