name: Cypress Tests (PR)

on:
  pull_request:
    branches: [cpe-archive]

permissions: read-all

jobs:
  cypress-run:
    name: Test application
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout for testing
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
        with:
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6
        with:
          node-version: lts/Hydrogen

      - name: Install Dependencies
        run: npm ci

      - name: Cypress run component testing
        uses: cypress-io/github-action@0da3c06ed8217b912deea9d8ee69630baed1737e
        with:
          command-prefix: "--"
          install: false
          component: true
          browser: chrome
