name: Cypress Tests (PR)

on:
  pull_request:
    branches: [cpe-archive]

permissions: read-all

jobs:
  cypress-run:
    name: Test application
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout for testing
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
        with:
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b
        with:
          node-version: lts/Hydrogen

      - name: Install Dependencies
        run: npm ci

      - name: Cypress run component testing
        uses: cypress-io/github-action@8d3918616d8ac34caa2b49afc8b408b6a872a6f5
        with:
          command-prefix: "--"
          install: false
          component: true
          browser: chrome
