name: Cypress Tests (PR)

on:
  pull_request:

permissions: read-all

jobs:
  cypress-run:
    name: Test application
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout for testing
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          ref: main
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c
        with:
          node-version: lts/Hydrogen

      - name: Install Dependencies
        run: npm ci

      - name: Cypress run component testing
        uses: cypress-io/github-action@db1693016f23ccf9043f4b2428f9b04e5d502a73
        with:
          install: false
          component: true
          browser: chrome
