name: Cypress Tests (PR)

on:
  pull_request:
    branches: [main]

permissions: read-all

jobs:
  cypress-run:
    name: Test application
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    steps:
      - name: Checkout for testing
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          ref: main
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8
        with:
          node-version: lts/Hydrogen

      - name: Install Dependencies
        run: npm ci

      - name: Cypress run component testing
        uses: cypress-io/github-action@1b70233146622b69e789ccdd4f9452adc638d25a
        with:
          command-prefix: '--'
          install: false
          component: true
          browser: chrome
