name: Redeploy App
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  redeploy_dev:
    name: Rebuild and Deploy to Production
    if: ${{ github.repository == 'sws2apps/organized-app' && github.ref == 'refs/heads/main' }}
    environment:
      name: Live (organized-app.com)
      url: https://organized-app.com
    runs-on: ubuntu-latest

    steps:
      - name: Checkout for release preparation
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: main
          persist-credentials: false

      - name: Use Node.js LTS version
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: lts/Krypton

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Deploy project to Vercel
        run: vercel deploy --prod --token=${{ secrets.VERCEL_TOKEN }}
